{{ define "kgbIndex" }}
{{ template "kgbHeader" . }}

    «Лизаветина работа», — подумал молодой человек. Ни пылинки нельзя было найти во всей квартире.

    <p>«Это у злых и старых вдовиц бывает такая чистота»,  продолжал про себя Раскольников и с любопытством покосился на ситцевую занавеску перед дверью во вторую, крошечную комнатку, где стояли старухины постель и комод и куда он еще ни разу не заглядывал. Вся квартира состояла из этих двух комнат.

    <p>Что угодно. строго произнесла старушонка, войдя в комнату и по-прежнему становясь прямо перед ним, чтобы глядеть ему прямо в лицо.

    <p>Заклад принес, вот-с! И он вынул из кармана старые плоские серебряные часы. На оборотной дощечке их был изображен глобус. Цепочка была стальная.

    <p>Да ведь и прежнему закладу срок. Еще третьего дня месяц как минул.

    <p>Я вам проценты еще за месяц внесу; потерпите.

    <p>А в том моя добрая воля, батюшка, терпеть или вещь вашу теперь же продать.

    <p>Много ль за часы-то, Алена Ивановна.

{{ template "part_messageBox" . }}
    <form id="форма" method="POST">
      <label>стакан тушеных фруктов: </label><input name="" type="password"><br>
      <label>яйца: </label><input name="" type="password"><br>
      <label>стакан молока: </label><input name="" type="password"><br>
      <label>чайные ложки разрыхлителя теста: </label><input name="" type="password"><br>
      <label>стакана сахара: </label><input name="" type="password"><br>
      <label>стакана муки: </label><input name="" type="password"><br>
      <label>щепотка соли: </label><input name="" type="password"><br>
      <label>финики: </label><input name="" type="password"><br>
      <label>масло: </label><input name="" type="password"><br>
      <label>мед: </label><input name="" type="password"><br>
      <label>крахмал: </label><input name="" type="password"><br>
      <label>теста: </label><input name="" type="password"><br>
      <button>приятного аппетита</button>
    </form>
  </div>
</body>
{{ end }}
