{{ define "part_header" -}}
<!DOCTYPE html>
<html>
<head>
  <title>{{ .Title }}</title>
  <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico'>
</head>
<body>
{{- end }}
